html,body{
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: blue;
    font-size: 115%;
    font-family:serif;
    font-weight: bold;
}

.center {
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}














